<div class="row">

  <!-- Sidebar -->
  <div class="col-lg-3">
    <%= render partial: "shared/page_sidebar", locals: { page_collection: @pages } %>
  </div>
  <div class="col-lg-9">
    <h1>Dashboard#index</h1>
    <p>Find me in app/views/dashboard/index.html.erb</p>
  </div>

</div>
