<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_course_course_session_path(@course,@course_session), class: "btn btn-small btn-warning" %>

<%= link_to 'Back', course_course_sessions_path %>
